{% extends "layout-main.html" %}
{% load static %}
{% block main-content %}
    {% include 'pages/index/trending.html' %}
    <!-- What's New Start -->
    <section class="whats-news-area pb-20 gray-bg">
        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                    {% include 'pages/index/category-news.html' %}
                </div>

            </div>

            <div class="col-lg-4">
                {% include 'elements/sidebar.html' %}
            </div>
        </div>
    </section>
    <!-- What's New End -->
{% endblock %}